@import '~@styles/variables.scss';

.wrapper {
  justify-content: space-between;
  height: 4.125rem;
}

.contentWrapper {
  display: flex;
  gap: 10px;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 0.875rem;
}

.timeAndDate {
  font-size: 0.875rem;
  color: $greyText;
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.875rem;
  color: $redText;
}
